<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619099023329-s4dqov42dk9sc4ejjpls2h7qgtpqa5av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619099023329-s4dqov42dk9sc4ejjpls2h7qgtpqa5av</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Q_Bl49I67i10d2fUWaRKlwcxeIPfIPk</string>
	<key>GCM_SENDER_ID</key>
	<string>619099023329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsystems.eventosTsystemsFlutter</string>
	<key>PROJECT_ID</key>
	<string>eventos-68d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventos-68d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619099023329:ios:ae321b9120e1136f</string>
	<key>DATABASE_URL</key>
	<string>https://eventos-68d0a.firebaseio.com</string>
</dict>
</plist>